div{
    border: 5px solid rgb(0, 0, 255);
    margin: 20px 50px 10px 5px;
    padding: 5px 20px 5px 10px;
    outline: 2px solid green;
    outline-offset: 5px;
}
.one{
    /* margin-top: 50px; */
    /* margin-left: 10px; */
    /* margin-bottom: 50px; */
    /* margin-right: 200px; */

    border-left: 10px solid blue;
    border-right: 10px dotted green;
    border-top: 10px double red;
    border-bottom: 10px dashed yellow;
    border-radius: 50px;

    padding-left: 20px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 50px;
    
}
